/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./app/weather/images/clear-sky.jpg);
    margin-top: 3em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}